<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>评分详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/cctv/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/markinfo/findinfo.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/cctv/js/markinfo/findinfo.js"></script>
</head>
<body>
<div th:replace="navigation::navigation"></div>

<div id="TitleMemu">
    <div style="width:1200px;height:100%;margin:0 auto;">
        <a href="/cctv/project/showlist"><img src="/cctv/img/msdi.png" title="首页" alt=""></a>
        <input type="button" th:value="#{markinfo.findinfo.menu.button1}" style="background-color:#51C83D"/>
        <input type="button" th:value="#{markinfo.findinfo.menu.button2}" style="background-color:#00A3FE"/>
    </div>
</div>
<!-- *************************************************************** -->
<input type="hidden" id="id" th:value="${param.id}"/>
<input type="hidden" id="no" th:value="${param.no}"/>

<div id="main">
    <div id="mainTitle" th:text="${'评分浏览 - ['+markItem.project.name +']'}"></div>
    <div id="main1">
        <div id="menu1"><a>--- </a><span th:text="#{markinfo.findinfo.title1}"></span><a> ---</a></div>
        <table id="tab1">
            <thead>
            <tr height="35px">
                <th width="25px"></th>
                <th width="35px">No</th>
                <th width="155px">Start MH</th>
                <th width="155px">Finish MH</th>
                <th width="140px" th:text="#{markinfo.editinfo.pipe.span1}"></th>
                <th width="140px" th:text="#{markinfo.editinfo.pipe.span2}"></th>
                <th width="235px" th:text="#{markinfo.editinfo.pipe.span3}"></th>
                <th width="235px" th:text="#{markinfo.editinfo.pipe.span4}"></th>
                <th style="padding-right: 17px">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="markPipe:${markPipes}">
                <td width="25px"></td>
                <td width="35px" th:text="${markPipe.pipe.no}"></td>
                <td width="155px" th:text="${markPipe.pipe.smanholeno}"></td>
                <td width="155px" th:text="${markPipe.pipe.fmanholeno}"></td>
                <td width="140px" th:text="${markPipe.score1}"></td>
                <td width="140px" th:text="${markPipe.score2}"></td>
                <td width="235px" class="stars" th:data-level="${markPipe.level1}"></td>
                <td width="235px" class="stars" th:data-level="${markPipe.level2}"></td>
                <td><input type="button" th:value="#{markinfo.editinfo.pipe.button}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="main2">
        <div id="title1" style="height:30px;">
            <span style="width:102px;">Survey ID</span>
            <span style="width:102px;">Operator</span>
            <span style="width:102px;">Work Order No</span>
            <span style="width:152px;">Pipe Length Reference</span>
            <span style="width:132px;">Purpose</span>
            <span style="width:102px;">Slope</span>
            <span style="width:152px;"><a id="link1">Slope Reference No</a></span>
            <span style="width:102px;">Year Laid</span>
            <span style="width:102px;">Date</span>
            <span style="width:102px;">Time</span>
        </div>
        <div id="value1" style="height:30px;">
            <input type="text" th:value="${markPipe.pipe.no}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.operator}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.workorder}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.reference}" style="width:150px;background-color:#EBEBE4;">
            <input type="text" th:value="${markPipe.pipe.purposes}" style="width:130px;">
            <input type="text" th:value="${markPipe.pipe.slope}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.sloperef}" style="width:150px;">
            <input type="text" th:value="${markPipe.pipe.yearlaid}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.date}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.time}" style="width:100px">
        </div>
        <div id="title2" style="height:30px;">
            <span style="width:102px;">District1</span>
            <span style="width:102px;">District2</span>
            <span style="width:102px;">District3</span>
            <span style="width:181px;">Road Name</span>
            <span style="width:181px;">House Number</span>
            <span style="width:181px;">Building</span>
            <span style="width:102px;">Division</span>
            <span style="width:209px;">Drainage Area Code</span>
        </div>
        <div id="value2" style="height:30px;">
            <input type="text" th:value="${markPipe.pipe.district1}" style="width:100px;"/>
            <input type="text" th:value="${markPipe.pipe.district2}" style="width:100px;"/>
            <input type="text" th:value="${markPipe.pipe.district2}" style="width:100px;"/>
            <input type="text" th:value="${markPipe.pipe.roadname}" style="width:179px;"/>
            <input type="text" th:value="${markPipe.pipe.housenum}" style="width:179px;"/>
            <input type="text" th:value="${markPipe.pipe.building}" style="width:179px;"/>
            <input type="text" th:value="${markPipe.pipe.division}" style="width:100px;background-color:#EBEBE4;"/>
            <input type="text" th:value="${markPipe.pipe.areacode}" style="width:207px;background-color:#EBEBE4;"/>
        </div>
        <div id="title3" style="height:30px;">
            <span style="width:102px;">Start MH</span>
            <span style="width:102px;">Finish MH</span>
            <span style="width:102px;">Use</span>
            <span style="width:102px;">Direction</span>
            <span style="width:102px;">Size(Dia)H</span>
            <span style="width:102px;">Size(Dia)W</span>
            <span style="width:110px;">Shape</span>
            <span style="width:110px;">Material</span>
            <span style="width:109px;">Lining</span>
            <span style="width:102px;">Pipe Length</span>
            <span style="width:102px;">Total Length</span>
        </div>
        <div id="value3" style="height:30px;">
            <input type="text" th:value="${markPipe.pipe.smanholeno}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.fmanholeno}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.uses}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.dire}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.hsize}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.wsize}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.shape}" style="width:108px;">
            <input type="text" th:value="${markPipe.pipe.mater}" style="width:108px;">
            <input type="text" th:value="${markPipe.pipe.lining}" style="width:107px;">
            <input type="text" th:value="${markPipe.pipe.pipelength}" style="width:100px">
            <input type="text" th:value="${markPipe.pipe.testlength}" style="width:100px">
        </div>
        <div id="title4" style="height:30px;">
            <span style="width:102px;"><a id="link2">Start Depth</a></span>
            <span style="width:102px;">Cover Level</span>
            <span style="width:102px;">Invert Level</span>
            <span style="width:102px;">Finish Depth</span>
            <span style="width:102px;">Cover Level</span>
            <span style="width:102px;">Invert Level</span>
            <span style="width:110px;">Category</span>
            <span style="width:110px;">Cleaned</span>
            <span style="width:109px;">Weather</span>
            <span style="width:209px;">Video No/File Name</span>
            <span style="width:100px;"></span>
        </div>
        <div id="value4" style="height:30px;">
            <input type="text" th:value="${markPipe.pipe.sdepth}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.scoverlevel}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.sinvertlevel}" style="width:100px;background-color:#EBEBE4;">
            <input type="text" th:value="${markPipe.pipe.fdepth}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.fcoverlevel}" style="width:100px;">
            <input type="text" th:value="${markPipe.pipe.finvertlevel}" style="width:100px;background-color:#EBEBE4;">
            <input type="text" th:value="${markPipe.pipe.category}" style="width:108px;">
            <input type="text" th:value="${markPipe.pipe.cleaned}" style="width:108px;">
            <input type="text" th:value="${markPipe.pipe.weather}" style="width:107px;">
            <input type="text" th:value="${markPipe.pipe.videono}" style="width:207px;">
        </div>
        <div id="value5" style="height:30px;">
            <span style="width:125px;">Comments General:</span>
            <input type="text" name="comment" th:value="${markPipe.pipe.comment}" style="width: 1063px">
        </div>
    </div>

    <!-- 绘画管道画布 -->
    <canvas id="showpipeimg" width="210px" height="840px"></canvas>

    <div id="showvideo">
        <div class="videoTitle"><a>--- </a>Video<a> ---</a></div>
        <div class="videoTitle"><a>--- </a>Photo<a> ---</a></div>
        <div style="width: 100%;height:380px;background-color:#fff;float:left;">
            <video id="video" controls="controls" poster="/cctv/img/poster2.png"></video>
            <img id="image" src="/cctv/img/blank-plus.png" alt=""/>
        </div>

        <div id="menu2"><a>--- </a><span th:text="#{markinfo.findinfo.title2}"></span><a> ---</a></div>
        <table id="title" class="layui-table">
            <tr height="20px" style="background-color:#505984;">
                <th width="29px" rowspan="2"></th>
                <th width="99px" rowspan="2">Video Time</th>
                <th width="99px" rowspan="2">Photo No</th>
                <th width="99px" rowspan="2">Distance</th>
                <th width="79px" rowspan="2">Cont<br/>Def</th>
                <th width="79px" rowspan="2">Code</th>
                <th width="99px" rowspan="2">Dia./Dim</th>
                <th width="99px" colspan="2">Clock</th>
                <th width="99px" colspan="2">Intrusion</th>
                <th rowspan="2">Remarks</th>
            </tr>
            <tr height="20px" style="background-color: #505984;">
                <th width="50%">At</th>
                <th width="50%">To</th>
                <th width="50%">%</th>
                <th width="50%">mm</th>
            </tr>
        </table>
        <div id="showItem" style="background-color:#dddddd">
            <table id="tab2" class="layui-table">
                <tr th:each="item,status:${markPipe.pipe.items}" th:data-path="${item.picture}">
                    <td width="3%" align="center"></td>
                    <td width="10%" th:text="${item.video}"></td>
                    <td width="10%" th:text="${item.photo}"></td>
                    <td width="10%" th:text="${item.dist}"></td>
                    <td width="8%" th:text="${item.cont}"></td>
                    <td width="8%" th:text="${item.code}"></td>
                    <td width="10%" th:text="${item.diam}"></td>
                    <td width="5%" th:text="${item.clockAt}"></td>
                    <td width="5%" th:text="${item.clockTo}"></td>
                    <td width="5%" th:text="${item.percent}"></td>
                    <td width="5%" th:text="${item.lengths}"></td>
                    <td th:text="${item.remarks}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="mainBottom">
        <div id="bTitle"><a>--- </a><span th:text="#{markinfo.findinfo.title3}"></span><a> ---</a></div>
        <div class="bname">
            <div th:text="#{markinfo.findinfo.mark.title1}"></div>
        </div>
        <div id="bvalue">
            <div th:text="#{markinfo.findinfo.pipe.span1}" style="width: 118px;line-height: 30px;"></div>
            <input type="text" name="score1" th:value="${markPipe.score1}">
            <div th:text="#{markinfo.findinfo.pipe.span2}" style="width: 118px;line-height: 30px;"></div>
            <input type="text" name="score2" th:value="${markPipe.score2}">
            <div th:text="#{markinfo.findinfo.pipe.span3}" style="line-height: 30px;"></div>
            <div id="showstar1" style="width:150px" th:data-level="${markPipe.level1}"></div>
            <div th:text="#{markinfo.findinfo.pipe.span4}" style="line-height: 30px;"></div>
            <div id="showstar2" style="width:150px" th:data-level="${markPipe.level2}"></div>
        </div>

        <div class="bname">
            <div th:text="#{markinfo.findinfo.mark.title2}"></div>
        </div>
        <textarea name="remark" th:text="${markPipe.remark}"></textarea>
    </div>
</div>
<input type="file" id="file" accept="video/*" style="display:none"/>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>