<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>项目列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/cctv/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/common/itemlist.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/cctv/js/markinfo/markview.js"></script>
</head>
<body>
<div th:replace="navigation::navigation"></div>

<div id="main">
    <div id="mainMenu">
        <div id="menuTitle" th:text="#{menu.title.text}"></div>
        <div class="menu2"><a href="/cctv/project/showlist" th:text="#{menu.div.text1}"></a></div>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/cctv/project/findlist" th:text="#{menu.div.text2}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role3,vrole">
            <div class="menu1"><a href="/cctv/markinfo/markview" th:text="#{menu.div.text3}"></a></div>
            <div class="menu2"><a href="/cctv/markinfo/marklist" th:text="#{menu.div.text4}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2,vrole">
            <div class="menu2"><a href="/cctv/markinfo/findlist" th:text="#{menu.div.text5}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="role2">
            <div class="menu2"><a href="/cctv/operator/showlist" th:text="#{menu.div.text6}"></a></div>
            <div class="menu2"><a href="/cctv/userinfo/showlist" th:text="#{menu.div.text7}"></a></div>
        </shiro:hasRole>
        <shiro:hasRole name="vrole">
            <div class="menu2"><a href="/cctv/message/showlist" th:text="#{menu.div.text8}"></a></div>
        </shiro:hasRole>
        <div class="menu2"><a href="/cctv/userinfo/center" th:text="#{menu.div.text9}"></a></div>
    </div>

    <div id="mainInfo">
        <div id="infoTop" th:text="#{markinfo.markview.title}"></div>
        <div id="infoMenu" style="width: 880px">
            <span th:text="#{markinfo.markview.menu1}"></span>
            <input id="menuBtn1" type="button" value="←"/>
            <input id="menuText" th:value="${param.name}"/>
            <input id="menuBtn2" type="button" th:value="#{markinfo.markview.menu2}"/>
        </div>

        <table id="tab1" class="layui-table">
            <thead>
            <tr height="40px" style="background-color:#51596b;">
                <th width="4%">No</th>
                <th width="15%" th:text="#{markinfo.markview.table.title1}"></th>
                <th width="10%" th:text="#{markinfo.markview.table.title2}"></th>
                <th width="18%" th:text="#{markinfo.markview.table.title3}"></th>
                <th width="12%" th:text="#{markinfo.markview.table.title4}"></th>
                <th width="12%" th:text="#{markinfo.markview.table.title5}"></th>
                <th width="10%" th:text="#{markinfo.markview.table.title6}"></th>
                <th width="10%" th:text="#{markinfo.markview.table.title8}"></th>
                <th width="9%" th:text="#{markinfo.markview.table.title9}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="markItem,status:${markItems}" th:id="${markItem.project.id}">
                <td th:text="${status.count + (page - 1) * 15}"></td>
                <td><a th:href="@{/project/findinfo(id=${markItem.project.id})}" th:text="${markItem.project.name}"></a></td>
                <td th:text="${markItem.project.workorder}"></td>
                <td th:text="${markItem.project.client}"></td>
                <td th:text="${markItem.project.standard}"></td>
                <td th:text="${markItem.project.operator}"></td>
                <td th:text="${markItem.project.user.name}"></td>
                <td th:text="${markItem.project.date}"></td>
                <td style="padding: 0 2px;">
                    <input type="button" class="layui-btn layui-btn-xs" th:value="#{markinfo.markview.table.button1}"/>
                    <input type="button" class="layui-btn layui-btn-xs layui-btn-normal" th:value="#{markinfo.markview.table.button2}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <img th:if="${#lists.isEmpty(markItems)}" src="/cctv/img/null.png" alt="" style="margin:150px 450px;float:left;">
        <div th:if="${!#lists.isEmpty(markItems)}" id="pageMain" class="layui-form-item">
            <div id="page" th:data-p1="${page}" th:data-p2="${count}"></div>
        </div>
    </div>
</div>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>