<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>项目合并</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/cctv/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/project/combine.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/cctv/js/project/combine.js"></script>
</head>
<body>
<div th:replace="navigation::navigation"></div>

<div id="main">
    <div id="mainInfo">
        <div id="infoTop" th:text="#{project.combine.title}"></div>
        <div id="Menu">
            <span th:text="#{project.combine.menu1}"></span>
            <input id="menuBtn1" type="button" value="←"/>
            <input id="menuText" th:value="${param.name}"/>
            <input id="menuBtn2" type="button" th:value="#{project.combine.menu2}"/>
        </div>
        <table id="tab1">
            <thead>
            <tr height="40px">
                <th width="50px"></th>
                <th width="30px">No</th>
                <th width="200px" th:text="#{project.combine.table.title1}"></th>
                <th width="240px" th:text="#{project.combine.table.title2}"></th>
                <th width="100px" th:text="#{project.combine.table.title3}"></th>
                <th width="120px" th:text="#{project.combine.table.title4}"></th>
                <th width="120px" th:text="#{project.combine.table.title5}"></th>
                <th th:text="#{project.combine.table.title6}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <fieldset id="fieldset">
            <legend th:text="#{project.combine.label}"></legend>
        </fieldset>
        <input type="button" class="combtn" th:value="#{project.combine.button}"/>
        <div id="tips">
            註：註意項目選擇順序，合並後管道將重新排序且原項目將被刪除。(每次最多選擇20個項目)
        </div>
    </div>
</div>
<form id="form1" action="combine" method="post">
    <input type="hidden" name="list" value=""/>
</form>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>