<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑项目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/cctv/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/project/update.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/cctv/js/project/update.js"></script>
</head>
<body>
<div th:replace="navigation::navigation"></div>

<div id="main">
    <div id="mainInfo">
        <div id="infoTop" th:text="#{project.update.title}"></div>
        <form id="form1" action="update" method="post" class="layui-form">
            <input type="hidden" name="id" th:value="${project.id}"/>
            <table id="tab1">
                <colgroup>
                    <col width="180px">
                    <col width="300px">
                </colgroup>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label1}"></span></td>
                    <td><input type="text" name="name" class="textbox" th:value="${project.name}"/></td>
                </tr>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label2}"></span></td>
                    <td><input type="text" name="client" class="textbox" th:value="${project.client}"/></td>
                </tr>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label3}"></span></td>
                    <td>
                        <select name="slope" th:field="${project.slope}" class="select">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label4}"></span></td>
                    <td><input type="text" name="standard" class="textbox" th:value="${project.standard}"/></td>
                </tr>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label5}"></span></td>
                    <td>
                        <select name="operator" th:field="${project.operator}" class="select">
                            <option th:each="operator:${operators}" th:value="${operator.name}" th:text="${operator.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><a>*</a><span th:text="#{project.update.label6}"></span></td>
                    <td><input type="text" name="date" class="textbox" th:value="${project.date}"/></td>
                </tr>
                <tr>
                    <td align="left"></td>
                    <td><input type="button" class="combtn" th:value="#{project.update.button}"></td>
                </tr>
            </table>
            <input type="hidden" name="state" th:value="${project.state}"/>
        </form>
    </div>
</div>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>