<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公司管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/cctv/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/common/itemlist.css"/>
    <link rel="stylesheet" type="text/css" href="/cctv/css/company/showlist.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/layui/layui-2.5.6.min.js"></script>
    <script type="text/javascript" src="/cctv/js/company/showlist.js"></script>
</head>
<body>
<div id="naviMain">
    <div id="navi">
        <a href="showlist"><img id="navilogo" src="/cctv/img/msdi.png" title="首页"></a>
        <div class="naviItem"><img src="/cctv/img/navi5.png"/><a href="/cctv/userview/leave">退出登录</a></div>
    </div>
</div>

<input type="hidden" name="name" th:value="${param.name}"/>
<div id="main">
    <div id="mainMenu">
        <div id="menuTitle">管理菜单</div>
        <div class="menu1"><a href="showlist">公司管理</a></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
        <div class="menu2" style="background-color:#3A3F4A"></div>
    </div>
    <div id="mainInfo">
        <div id="infoTop">公司列表</div>
        <div id="infoMenu" style="width: 985px">
            <span>公司名称：</span>
            <input id="menuBtn1" type="button" value="←"/>
            <input id="menuText" th:value="${param.name}"/>
            <input id="menuBtn2" type="button" value="立即查詢"/>
        </div>
        <div id="append" class="layui-btn layui-btn-sm">新建</div>

        <table id="tab1" class="layui-table">
            <thead>
            <tr height="40px" style="background-color:#51596b;">
                <th width="4%">No</th>
                <th width="27%">公司名稱</th>
                <th width="12%">账号前缀</th>
                <th width="12%">人數(人)</th>
                <th width="12%">使用版本</th>
                <th width="12%">注册日期</th>
                <th width="12%">使用期限</th>
                <th width="9%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company,status:${companies}" th:id="${company.id}">
                <td th:text="${status.count + (page - 1) * 15}"></td>
                <td><a th:href="@{findinfo(id=${company.id})}" th:text="${company.name}"></a></td>
                <td th:text="${company.code}"></td>
                <td th:text="${company.count}"></td>
                <td th:text="${company.level}"></td>
                <td th:text="${company.date}"></td>
                <td th:text="${company.term}"></td>
                <td style="padding:0 2px;">
                    <input type="button" class="layui-btn layui-btn-xs layui-btn-normal" value="编辑"/>
                    <input type="button" class="layui-btn layui-btn-xs layui-btn-danger" value="刪除"/>
                </td>
            </tr>
            </tbody>
        </table>
        <img th:if="${#lists.isEmpty(companies)}" src="/cctv/img/null.png" alt="" style="margin:150px 450px;float:left;">
        <div th:if="${!#lists.isEmpty(companies)}" id="pageMain" class="layui-form-item">
            <div id="page" th:data-p1="${page}" th:data-p2="${count}"></div>
        </div>
    </div>
</div>

<div style="width:100%;margin:20px 0;color:#ccc;text-align:center;font-size:14px;float:left;">
    <p style="line-height: 20px;margin: 10px 0;">香港麦斯迪埃高科技有限责任公司</p>
    <p style="line-height: 20px;margin: 10px 0;">Copyright © 2017 All Rights Reserved</p>
</div>
</body>
</html>