@CHARSET "UTF-8";

body {
    background-color: #f1f1f1;
}

#naviMain {
    width: 100%;
    height: 80px;
    background-color: #3A3F4A;
}

#navi {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}

#navilogo {
    width: 106px;
    height: 50px;
    margin: 15px 10px;
    cursor: pointer;
    float: left;
}

.naviItem {
    width: 120px;
    height: 100%;
    font: 18px simsun;
    text-align: center;
    line-height: 80px;
    float: right;
}

.naviItem img {
    width: 24px;
    height: 24px;
    margin: 28px 0;
    float: left;
}

.naviItem a {
    color: #BABABA;
    margin-left: 6px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.naviItem a:hover {
    color: #0082DF;
}

/** **************************************************** */
#main {
    width: 1000px;
    margin: 0 auto;
}

#mainInfo {
    width: 100%;
    height: 750px;
    margin-top: 10px;
    background-color: #fff;
    float: left;
}

#mainTop {
    width: 100%;
    height: 48px;
    font: 600 20px simsun;
    text-indent: 20px;
    line-height: 48px;
    border-bottom: 2px solid #5EA500;
    float: left;
}

.field {
    width: 760px;
    height: 540px;
    margin: 30px 108px 20px;
    padding: 10px;
    font: 20px simsun;
    border-radius: 6px;
    float: left;
}

#table1 {
    width: 700px;
    margin-left: 30px;
    float: left;
}

#table1 tr {
    height: 84px;
    font: 600 18px simsun;
}

#table1 tr td a {
    color: #666666;
    font: 500 14px simsun;
}

.textbox {
    width: 280px;
    height: 30px;
    font: 18px simsun;
    text-indent: 10px;
    border: 1px solid #999999;
    border-radius: 2px;
    float: left;
}

.combtn {
    width: 282px;
    height: 32px;
    color: #ffffff;
    font: 600 16px simsun;
    background-color: #5EA500;
    border-radius: 1px;
    cursor: pointer;
    border: none;
    float: left;
}

.combtn:hover {
    background-color: #7bd700;
}