@CHARSET "UTF-8";

#combin, #commap {
    width: 64px;
    margin: 15px 3px;
    float: left;
}

#commap {
    background-color: #1E9FFF;
}

#tab1 thead th:hover {
    background-color: #5c657a;
    cursor: pointer;
}

#tab1 tbody tr td a {
    width: 135px;
    height: 16px;
    margin: 4px 0;
    float: left;
}

#tab1 tbody tr td img {
    width: 16px;
    height: 16px;
    margin: 4px;
    cursor: pointer;
    float: right;
}