@CHARSET "UTF-8";

#mainInfo {
    position: relative;
}

#append, #import {
    width: 64px;
    margin: 15px 3px;
    float: left;
}

#import {
    background-color: #1E9FFF;
}

.import-option {
    top: 95px;
    right: 13px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 100;
}

.import-option div {
    width: 100%;
    height: 30px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    float: left;
}

.import-option div:hover {
    background-color: #f0f0f0;
}

#tab1 thead th:hover {
    background-color: #5C657A;
    cursor: pointer;
}

#tab1 tbody tr td a {
    width: 135px;
    height: 16px;
    margin: 4px 0;
    float: left;
}

#tab1 tbody tr td img {
    width: 16px;
    height: 16px;
    margin: 4px;
    cursor: pointer;
    float: right;
}

