@CHARSET "UTF-8";

input {
    padding: 0;
    outline: none;
}

.table1, .table2 {
    width: 1060px;
    margin: 0 20px;
    font: 600 18px simsun;
    border-collapse: collapse;
    float: left;
}

.table1 tr {
    height: 64px;
}

.table1 tr td img {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-right: 6px;
    float: left;
}

.table1 tr td a {
    color: #39B549;
    float: left;
}

#name {
    width: 200px;
    height: 28px;
    font: 18px simsun;
    text-indent: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

#edit {
    margin: 6px;
    cursor: pointer;
}

.table2 tr {
    height: 70px;
}

.table2 tr td img {
    width: 18px;
    height: 18px;
    margin: 26px 5px 26px 0;
    float: left;
}

.table2 tr td h4,
.table2 tr td span,
.table2 tr td a {
    margin: 0;
    color: #39B549;
    font-weight: 600;
    line-height: 70px;
    float: left;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/************************************************************************/
#table1, #table2 {
    width: 450px;
    margin: 20px 25px;
    font: 600 18px simsun;
    background-color: #fff;
}

#table1 span, #table2 span {
    color: #f00;
}

.textbox {
    width: 250px;
    height: 32px;
    text-indent: 5px;
    border: 1px solid #ccc;
    float: left;
}

#getCode {
    width: 125px;
    height: 34px;
    color: #51C024;
    font: 18px simsun;
    background-color: #ffffff;
    border: 1px solid #51C024;
    cursor: pointer;
    float: left;
}

.btn {
    width: 252px;
    height: 32px;
    color: #ffffff;
    font: 600 18px simsun;
    background-color: #51C024;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #69da38;
}

