@CHARSET "UTF-8";

#tab1 tbody tr {
	height: 30px;
}

#tab1 tbody tr td {
	font: 600 18px fangsong;
}

#tab1 tbody tr td input {
	width: 60px;
	height: 24px;
	margin: auto 24px;
	color: #ffffff;
	background-color: #3CB44B;
	cursor: pointer;
	border: none;
}

#tab1 tbody tr td input:hover {
	color: #ff6600;
}