<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="navigation">
<head>
    <link rel="stylesheet" type="text/css" href="/cctv/css/navigation.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(".naviItem:eq(1) a").attr("href") !== undefined) {
                const text = $(".naviItem:eq(1) a").text();
                const data = Ajax("/cctv/message/getcount", {state: "未读"});
                if (data != null && data.length < 10)
                    $(".naviItem:eq(1) a").text(text + "(" + data + ")");
                else
                    $(".naviItem:eq(1) a").text(text + "(0)");
            }

            $("#navilogo").on("click", function () {
                window.location.href = "/cctv/project/showlist";
            });

            $("#link").on("click", function () {
                const name = $(this).attr("class");
                Ajax("/cctv/userview/change", {lang: name});
                window.location.reload();
            });

            /** 执行AJAX操作 */
            function Ajax(url, data) {
                let result = null;
                $.ajax({
                    url: url,
                    data: data,
                    type: "post",
                    async: false,
                    datatype: "json",
                    success: function (data) {
                        result = data;
                    }
                });
                return result;
            }
        });
    </script>
</head>
<body>
<div id="naviMain">
    <div id="navi">
        <img id="navilogo" src="/cctv/img/msdi.png" title="首页">
        <div class="naviItem" style="width:120px">
            <img src="/cctv/img/navi1.png"/>
            <a shiro:authenticated="" href="/cctv/userinfo/center">
                <shiro:principal property="name"/>
            </a>
            <a shiro:guest="" href="/cctv/userview/loginview">请登录</a>
        </div>
        <div class="naviItem">
            <img src="/cctv/img/navi2.png"/>
            <a shiro:user="" href="/cctv/message/showlist" th:text="#{navigation.item.text1}"></a>
            <a shiro:guest="" th:text="#{navigation.item.text1} + '(0)'"></a>
        </div>

        <div th:if="${session.i18n == 'zh_CN'}" class="naviItem">
            <img src="/cctv/img/navi3.png"/>
            <a id="link" class="en_US" th:text="#{navigation.item.text2}"></a>
        </div>
        <div th:if="${session.i18n != 'zh_CN'}" class="naviItem">
            <img src="/cctv/img/navi4.png"/>
            <a id="link" class="zh_CN" th:text="#{navigation.item.text2}"></a>
        </div>
        <div class="naviItem">
            <img src="/cctv/img/navi5.png"/>
            <a href="/cctv/userview/leave" th:text="#{navigation.item.text3}"></a>
        </div>
    </div>
</div>
</body>
</html>