<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.GeomPipeDao">

    <!-- 插入数据 -->
    <insert id="insertGeomPipe" parameterType="GeomPipe" useGeneratedKeys="true" keyProperty="id">
        insert into geompipe values (null, #{smhx}, #{smhy}, #{smhh}, #{fmhx}, #{fmhy}, #{fmhh}, #{smhGradeA}, #{smhGradeB}, #{fmhGradeA}, #{fmhGradeB}, #{pipe.id})
    </insert>

    <!-- 更新数据 -->
    <update id="updateGeomPipe" parameterType="GeomPipe">
        update geompipe
        set smhx = #{smhx},
            smhy = #{smhy},
            smhh = #{smhh},
            fmhx = #{fmhx},
            fmhy = #{fmhy},
            fmhh = #{fmhh},
            smhGradeA = #{smhGradeA},
            smhGradeB = #{smhGradeB},
            fmhGradeA = #{fmhGradeA},
            fmhGradeB = #{fmhGradeB}
        where id = #{id}
    </update>

    <!-- 删除数据 -->
    <delete id="deleteGeomPipe" parameterType="GeomPipe">
        delete from geompipe where id = #{id}
    </delete>

    <select id="findInfoGeomPipe" parameterType="Map" resultMap="GeomPipeMap">
        select g.*, p.no p_no, p.smanholeno smanholeno, p.fmanholeno fmanholeno from geompipe g right join pipe p on p.id = g.pipeid
        left join project a on a.id = p.projectid left join users b on b.id = a.userid
        <where>
            <if test="id != null">
                and g.id = #{id}
            </if>
            <if test="user != null">
                and b.id = #{user.id}
            </if>
        </where>
    </select>

    <select id="findListGeomPipe" parameterType="Map" resultMap="GeomPipeMap">
        select g.*, p.no p_no, p.smanholeno smanholeno, p.fmanholeno fmanholeno from geompipe g right join pipe p on p.id = g.pipeid
        left join project a on a.id = p.projectid left join users b on b.id = a.userid
        <where>
            <if test="project != null">
                and a.id = #{project.id}
            </if>
            <if test="user != null">
                and b.id = #{user.id}
            </if>
        </where>
        order by p.no
    </select>

    <resultMap id="GeomPipeMap" type="GeomPipe">
        <id property="id" column="id"/>
        <result property="smhx" column="smhx"/>
        <result property="smhy" column="smhy"/>
        <result property="smhh" column="smhh"/>
        <result property="fmhx" column="fmhx"/>
        <result property="fmhy" column="fmhy"/>
        <result property="fmhh" column="fmhh"/>
        <result property="smhGradeA" column="smhGradeA"/>
        <result property="smhGradeB" column="smhGradeB"/>
        <result property="fmhGradeA" column="fmhGradeA"/>
        <result property="fmhGradeB" column="fmhGradeB"/>
        <result property="geomItem.id" column="geomid"/>
        <association property="pipe" javaType="Pipe">
            <id property="id" column="pipeid"/>
            <result property="no" column="p_no"/>
            <result property="smanholeno" column="smanholeno"/>
            <result property="fmanholeno" column="fmanholeno"/>
        </association>
    </resultMap>

</mapper>
 